<a href="https://colab.research.google.com/github/nishusapkota/Bootcamp_authentication/blob/main/customer_trends_data_analysis_SQL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [37]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [38]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [39]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [40]:
#since ratings are different for each category ,we impute the review ratings value according to category and we use median since it doesnot depend on outlier
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [41]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [42]:
# create a column age_group
labels=['young adult','adult','Middle Aged','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels= labels)
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  young adult
2   50  Middle Aged
3   21  young adult
4   45  Middle Aged
5   46  Middle Aged
6   63       senior
7   27  young adult
8   26  young adult
9   57  Middle Aged

In [43]:
# create column purchase_frequency_days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Annually': 365,
    'Quarterly': 90,
    'Every 3 Months': 90,
    'Bi-Weekly': 14,
    'Monthly': 30
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)
df[['frequency_of_purchases', 'purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [44]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [45]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [46]:
df = df.drop('promo_code_used',axis=1)

In [47]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

**Working with PostgreSQL server**

> Add blockquote

In [48]:
# Install Required Python Libraries
!pip install psycopg2-binary sqlalchemy ipython-sql

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.11)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [49]:
##  Step 1: Install and Start PostgreSQL (RESTART)

# Install PostgreSQL server (will skip if already installed)
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql

#  CRITICAL: Start the PostgreSQL service
!sudo service postgresql start

# Set password and re-create the database to ensure a clean slate
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS colab_db;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE colab_db;'

print(" PostgreSQL server has been restarted and 'colab_db' is ready.")

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE
ERROR:  database "colab_db" is being accessed by other users
DETAIL:  There are 2 other sessions using the database.
ERROR:  database "colab_db" already exists
 PostgreSQL server has been restarted and 'colab_db' is ready.

In [50]:
# 2. Define Connection String and Create Engine
import psycopg2
from sqlalchemy import create_engine

# Connection string format: postgresql://user:password@host:port/database_name
# Note: We are using the 'postgres' user, 'postgres' password, and 'colab_db' database.
DB_URL = "postgresql://postgres:postgres@localhost:5432/colab_db"

# Create the SQLAlchemy engine object. This object manages the connection pool.
engine = create_engine(DB_URL)

print(" PostgreSQL connection engine created successfully!")

 PostgreSQL connection engine created successfully!

In [51]:
# Load DataFrame into PostgreSQL
table_name = 'customer'
df.to_sql(table_name, engine, if_exists='replace', index=False)
print(" DataFrame loaded into PostgreSQL successfully!")

 DataFrame loaded into PostgreSQL successfully!

In [52]:
# Load the SQL extension and connect using the DB_URL
# Force a reload of the extension
%reload_ext sql
%sql postgresql://postgres:postgres@localhost:5432/colab_db

In [53]:
# Set the configuration to NOT use prettytable for display
%config SqlMagic.autocommit=True
%config SqlMagic.style='DEFAULT' # We set this just in case, but the next step is the real fix
print(" SQL Magic configuration updated.")

 SQL Magic configuration updated.

In [54]:
sql_query = """SELECT * FROM customer LIMIT 5"""
df_final_result = pd.read_sql(sql_query, engine)

# 2. Display the result
print(" Direct SQL query executed and retrieved successfully. Displaying results via Pandas:")
print(df_final_result.head())

 Direct SQL query executed and retrieved successfully. Displaying results via Pandas:
   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases    age_group  purchase_frequency_days
0            Fortnightly  Middle Aged                       14
1            Fortnightly  young adult                       14
2                 Weekly  Middle Aged                        7
3                 Weekly  young adult                        7
4               Annually  Middle Aged                      365

In [55]:
# What is the total revenue generated by male vs. female customers?
sql_query = """
SELECT
    gender,
    SUM(purchase_amount) AS total_revenue
FROM
    customer
GROUP BY
    gender;
"""
df_revenue_by_gender = pd.read_sql(sql_query, engine)

print(df_revenue_by_gender)

   gender  total_revenue
0  Female        75191.0
1    Male       157890.0

In [56]:
# Which customers used a discount but still spent more than the average purchase amount?
sql_query = """
SELECT
    customer_id, purchase_amount
FROM
    customer
    WHERE discount_applied = 'Yes'
    AND purchase_amount > (SELECT AVG(purchase_amount) FROM customer)
"""
df_regular_customer = pd.read_sql(sql_query, engine)
print(df_regular_customer)

     customer_id  purchase_amount
0              2               64
1              3               73
2              4               90
3              7               85
4              9               97
..           ...              ...
834         1667               64
835         1671               73
836         1673               73
837         1674               62
838         1676               90

[839 rows x 2 columns]

In [57]:
# Which are the top 5 products with the highest average review rating??
sql_query = """
SELECT
    item_purchased , AVG(review_rating) as avg_review
FROM
    customer
GROUP BY
   item_purchased
ORDER BY
    avg_review DESC
LIMIT 5

"""
df_top_5_products = pd.read_sql(sql_query, engine)

print(df_top_5_products)

  item_purchased  avg_review
0         Gloves    3.861429
1        Sandals    3.844375
2          Boots    3.818750
3            Hat    3.801299
4          Skirt    3.784810

In [58]:
# Compare the average Purchase Amounts between Standard and Express Shipping.
sql_query = """
SELECT
    shipping_type , AVG(purchase_amount)
FROM
    customer
WHERE
shipping_type IN ('Express','Standard')
GROUP BY
  shipping_type
"""
df_compare_shipping_type = pd.read_sql(sql_query, engine)

print(df_compare_shipping_type)

  shipping_type        avg
0       Express  60.475232
1      Standard  58.460245

In [59]:
#Do subscribed customers spend more? Compare average spend and total revenue between subscribers and non-subscribers
sql_query = """
SELECT subscription_status,
       COUNT(customer_id) AS total_customers,
       ROUND(AVG(purchase_amount),2) AS avg_spend,
       ROUND(SUM(purchase_amount),2) AS total_revenue
FROM customer
GROUP BY subscription_status
ORDER BY total_revenue,avg_spend DESC;
"""
df_compare_subscription_type = pd.read_sql(sql_query, engine)

print(df_compare_subscription_type)

  subscription_status  total_customers  avg_spend  total_revenue
0                 Yes             1053      59.49        62645.0
1                  No             2847      59.87       170436.0

In [60]:
# Which 5 products have the highest percentage of purchases with discounts applied?
sql_query ="""
SELECT item_purchased,
       ROUND(100.00*SUM(CASE WHEN discount_applied = 'Yes' THEN 1 ELSE 0 END)/count(*),2) AS discount_percentage
FROM customer
GROUP BY item_purchased
ORDER BY discount_percentage DESC
LIMIT 5
"""
df_top_5_product = pd.read_sql(sql_query, engine)

print(df_top_5_product)

  item_purchased  discount_percentage
0            Hat                50.00
1       Sneakers                49.66
2           Coat                49.07
3        Sweater                48.17
4          Pants                47.37

In [61]:
#  Segment customers into New, Returning, and Loyal based on their total number of previous purchases, and show the count of each segment.
sql_query = """
with customer_type as (
SELECT customer_id, previous_purchases,
CASE
    WHEN previous_purchases = 1 THEN 'New'
    WHEN previous_purchases BETWEEN 2 AND 10 THEN 'Returning'
    ELSE 'Loyal'
    END AS customer_segment
FROM customer)

select customer_segment,count(*) AS "Number of Customers"
from customer_type
group by customer_segment"""
df_query = pd.read_sql(sql_query, engine)
print(df_query)

  customer_segment  Number of Customers
0              New                   83
1        Returning                  701
2            Loyal                 3116

In [62]:
# What are the top 3 most purchased products within each category?
sql_query = """
WITH item_counts AS (
    SELECT category,
           item_purchased,
           COUNT(customer_id) AS total_orders,
           ROW_NUMBER() OVER (PARTITION BY category ORDER BY COUNT(customer_id) DESC) AS item_rank
    FROM customer
    GROUP BY category, item_purchased
)
SELECT item_rank,category, item_purchased, total_orders
FROM item_counts
WHERE item_rank <=3;"""
df_query = pd.read_sql(sql_query, engine)
print(df_query)

    item_rank     category item_purchased  total_orders
0           1  Accessories        Jewelry           171
1           2  Accessories     Sunglasses           161
2           3  Accessories           Belt           161
3           1     Clothing          Pants           171
4           2     Clothing         Blouse           171
5           3     Clothing          Shirt           169
6           1     Footwear        Sandals           160
7           2     Footwear          Shoes           150
8           3     Footwear       Sneakers           145
9           1    Outerwear         Jacket           163
10          2    Outerwear           Coat           161

In [63]:
# Are customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
sql_query = """
SELECT subscription_status,
       COUNT(customer_id) AS repeat_buyers
FROM customer
WHERE previous_purchases > 5
GROUP BY subscription_status;
"""
df_query = pd.read_sql(sql_query, engine)
print(df_query)

  subscription_status  repeat_buyers
0                  No           2518
1                 Yes            958

In [64]:
# What is the revenue contribution of each age group?
sql_query = """
SELECT
    age_group,
    SUM(purchase_amount) AS total_revenue
FROM customer
GROUP BY age_group
ORDER BY total_revenue desc;
"""
df_query = pd.read_sql(sql_query, engine)
print(df_query)

     age_group  total_revenue
0  young adult        62143.0
1  Middle Aged        59197.0
2        adult        55978.0
3       senior        55763.0